/* root */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





/* header */
header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding: 0 1.5rem;
}
header .logo
{
    display: flex;
    font-size: 2rem;
    text-decoration: none;
    align-items: center;
    color: #444;
}
header .logo img
{
    width: 50px;
    height: 50px;
}
header .logo span
{
    margin-left: 0.5rem;
}

header .nav
{
    display: flex;
    justify-content: space-between;
}
header .nav li
{
    list-style: none;
    margin-left: 1rem;
}
header .nav img
{
    width: 0px;
    height: 0px;
    visibility: hidden;}
header .nav li a
{
    text-decoration: none;
    color: #444;
}





/* banner */
.banner
{
    display: flex;
    background: #444;
}
.banner-img
{
    padding: 2rem 1.5rem;
    width: 60%;
}
.banner-img img
{
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;  
}
.banner-content
{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner-content h1,.banner-content p,.banner-content button
{
    padding: 0.5rem 0 ;
    width: 60%;
}





/* article */
article
{
    display: flex;
}
.ar-main
{
    width: 60%;
}
.ar-main-img
{
    padding: 2rem 1.5rem;
}
.ar-main-img img
{
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    
}
.ar-main-text
{
    padding: 0 1.5rem;
}
.ar-main-text p
{
    padding: 1.5rem 0;
}
.ar-main-text h3{
    padding-bottom: 2rem;
}
.ar-side
{
    width: 40%;
    padding: 1rem 0;
}
.ar-side-container
{
    display: flex;
}
.ar-side-container:hover
{
    background: #666;
}
.ar-side-img
{
    width: 35%;
    margin: 1rem;
    
}
.ar-side-img img
{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.ar-side-text
{   
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}





/* coursees */
.courses
{
    background: #444;
}
.courses h2
{
    text-align: center;
    padding-top: 2rem;
}
.course-container
{
    padding: 2rem 4rem;
    display: flex;
    flex-wrap: wrap;
}
.course-item
{
    flex: 25%;
    margin: 2rem;
    background: #bcbcbc;
}
.course-item-img
{
    width: auto;
    aspect-ratio: 16/9;
    object-fit: cover;
    display: flex;
    justify-content: center;
}
.course-item-text
{
    padding: 1rem;
}





/* thesis */
.thesis h2
{
    text-align: center;
    padding: 2rem;
}
.ts-container
{
    display: flex;
}
.ts-main
{
    padding: 0 2rem;
    width: 60%;
}
.ts-main-vdo 
{
    max-width: 100%;
    aspect-ratio: 4/3;
    padding: 0 2rem;
    border: 1px red solid;

}
.ts-main-text
{
    padding: 1.5rem 0 2rem 0;

}
.ts-side
{
    width: 40%;
    padding: 1rem 0;
}
.ts-side-container
{
    display: flex;
}
.ts-side-img
{
    width: 35%;
    margin: 1rem;
    
}
.ts-side-img img
{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    
}
.ts-side-text
{   
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}





/* footer */
footer
{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
}
.terms
{
    display: flex;
}
.terms p
{
    padding:0 1rem;
}




@media only screen and (max-width: 425px)
{
    /* header */
    header{
        justify-content: center;
    }
    header span{
        display: none;
    }
    header .nav p{
        display: none;
    }
    header .nav img{
        width: 50px;
        height: 50px;
        visibility: visible;
    }



    /* banner */
    .banner{
        flex-direction: column;
    }
    .banner-img {
        padding: 0;
        width: 100%;
    }
    .banner-content,.banner-content h1, .banner-content p, .banner-content button {
        width: 100%;
    }
    .banner-content{
        padding: 0 1rem;
    }
    .banner-content h1{
        padding: 2rem 0;
    }
    .banner-content p{
        padding-bottom: 1.5rem;
    }
    .banner-content button{
        margin-bottom: 2rem;
    }



    /* article */
    .ar-main{
        display: none;
    }
    .ar-side{
        padding: 1rem;
        width: 100%;
    }
    .ar-side-container{
        flex-direction: column;
    }
    .ar-side-img{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .ar-side-text{
        width: 100%;
        padding: 1rem 1rem 4rem 1rem;
    }



    /* courses */
    .course-item{
        margin: 0 0 0.5rem 0;
        width: 100%;
        flex: none;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .course-container{
        padding: 1rem 1rem 1.5rem 1rem;
    }
    .course-item-img{
        display: none;
    }
    .course-name{
        padding: 1rem 1rem 2rem 1rem;
    }
    .course-detail{
        display: none;
    }


    /* thesis */
    .thesis h2{
        padding: 2rem 0 1rem 0;
    }
    .ts-main-text{
        display: none;
    }
    .ts-main{
        margin: 0;
        width: 100%;
    }
    .ts-side{
        display: none;
    }
    footer{
        justify-content: center;
    }
    .ts-main-vdo{
        padding: 0;
    }
    .terms{
        display: none;
    }
}